
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 65% !important;
}
body {
  padding-top: 100px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.item{
  position: relative;
  width: 30%;
  height: 300px;
}
.item__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.like-comment {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #00000079;
  z-index: 10;
}
.likes__btn {
  border: none;
  background-color: transparent;
  font-size: 26px;
}
.likes__btn .bxs-heart {
  color: #fff;
}
.likes__sum {
  margin: 0;
  padding: 0;
}
.likes{
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-left: 35%;
}
.comments {
  display: flex;
  align-items: center;
}
.comments__btn{
  font-size: 26px;
  border: none;
  background-color: transparent;
}
.comments__btn .bxs-comment {
  color: #fff;
}
.imgdiv {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.item:hover .like-comment{
  display: flex;
}
.likes__sum {
  color: #fff;
}
.comments__sum {
  color: #fff;
}



/* ========== HEADER PART =========== */
.header {
  position: fixed;
  top: 0;
  width: 63.5%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 20px ;
  z-index: 100;
  background-color: #fff;
}

.logo {
  width: 110px;
  height: 30px;
  overflow: hidden;
}
.search-input {
  border: none;
  background-color: #EFEFEF;
  padding: 7px 20px 7px 35px;
  width: 120%;
  outline: none;
  border-radius: 7px;
}
.header-btn{
  padding: 5px 14px;
  background-color: #0095F6;
  border-radius: 7px;
  border: none;
  color: #fff;
}
.header-button{
  color: #0095F6;
  border: none;
  background-color: transparent;
  margin-left: 20px;
}
.header-form{
  position: relative;
}
.hbtn {
  position: absolute;
  left: 10px;
  top: 25%;
  border: none;
  background-color: transparent;
}
.item-video{
  width: 100% !important;
  height: 100% !important;
}

/* ================ HERO ============== */
.content-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 100px;
}
.hero{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.hero__names{
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.hero__content{
  color: #262626;
  font-size: 26px;
  font-weight: 100px !important;
  margin: 0;
  margin-right: 30px;
  letter-spacing: 1px;
}
.hero__sub{
  background-color: #0095F6;
  border: none;
  border-radius: 7px;
  padding: 5px 14px;
  color: #fff;
}
.hero__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items:center;
  margin-bottom: 14px;
}
.hero__item{
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.hero__pubnum {
  font-weight: 700;
  margin-right: 10px;
}
.hero__pub {
  margin: 0;
}
.hero__subtitle {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #262626;
}
.hero__link{
  color: #00376B;
  text-decoration: none;
}
.hero__link:hover{
  color: #00376B;
}


/* ================= info =============== */
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 ;
  border-top: 0.5px solid #00000050;
}
.info__pub {
  display: flex;
  align-items: center;
  margin-right: 60px;
  border: none;
  background-color: transparent;
}
.info__pubtext {
  margin: 0;
  margin-left: 7px;
}
.info__saved {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.info__savetext {
  margin: 0;
  margin-left: 7px;
}

/* ================ js part ============== */
.main-list {
  display: none;
}

.shouw {
  display: flex !important;
}


/* ================ modal part =============== */

.modal-img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}
.modal-body {
  display: flex;
  justify-content: space-between;
}
.modal-info {
  position: relative;
  padding-top: 65px;
  width: 50%;
}
.modal-content {
  width: 200% !important;
  margin-left: -45% !important;
  height: 90vh;
}
.fathermodal-img {
  position: relative;
  width: 47%;
  height: 100%;
}
.modal-info-cont {
  display: flex;
  align-items: center;
}
.modal-info-el {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}
.modal-info-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.modal-info-title {
  font-size: 14px ;
  color: #262626;
  margin-left: 16px;
}
.modal-dotsbtn{
  display: flex;
  border: none;
  background-color: transparent;
}
.modal-info-body{
  overflow-y: scroll;
  height: 53vh;
}
.modal-info-foter {
  padding: 10px 0;
}
.modal-info-body::-webkit-scrollbar{
  width: 0; 
}
.modal-footerr {
  width: 100%;
  padding: 10px 0;
}
.modal-info-fc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-info-likes {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.modal-info-btns {
  border: none;
  background-color: transparent;
  font-size: 24px;
}
.modal-info-activ {
  margin-left: 10px;
}
.modal-day-text {
  font-size: 14px;
  margin: 0;
}
.modal-send-message {
  display: flex;
}
.modal-send-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.modal-add-comment {
  border: none;
  padding: 5px 10px;
  outline: none;
}
.modal-emoji {
  cursor: pointer;
}
.modal-send-btn {
  border: none;
  background-color: transparent;
  color: #0F9BF7;
}
.modal-info-list {
  list-style: none;
}
.modal-info-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 14px 0 !important;
  
}
.modal-info-title {
  margin: 0 10px;
}
.modal-body-text {
  margin: 5px 0 0 0 ;
}
.modal-body-res {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.modal-body-respont {
  cursor: pointer;
}
.modal-subcribe-btn {
  border: none;
  background-color: transparent;
  color: #0497F6;
  font-weight: 600;
}



/* ===================== STORIS PART ======================= */

.stories {
  position: relative;
  overflow: hidden;
}
.storis-left {
  position: absolute;
  left: 0px;
  top: 20%;
  font-size: 22px;
  border: none;
  background-color: transparent;
}
.storis-right {
  position: absolute;
  right: 0px;
  top: 20%;
  font-size: 22px;
  border: none;
  background-color: transparent;
  z-index: 100000;
}
.storis-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 95%;
  overflow: hidden;
}
.storis-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.storis-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}






.video-player {
  position: absolute;
  font-size: 28px;
  top: 12px;
  right: 12px;
  color: #a9a6a6;
}



/* ===================== hower heart ===================== */
.hower-heart {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 0.8px;
  color: #fff;
}

.doubeclick {
  animation-name: my;
  animation-iteration-count: 1;
  animation-duration: 0.4s; 
  transition: all 0.3s ease;
  transform-origin: center center;
  animation-direction: alternate;

}
@keyframes my {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(200) ;
    animation-delay: 1s;
    transition-delay: 1s;
  }
}




